name: checks

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: install nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable'
      - name: flake inputs
        run: nix flake update
      - name: create pull request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: 'nix: update flake inputs'
          committer: 'github-actions[bot] <github-actions[bot]@users.noreply.github.com>'
          author: 'github-actions[bot] <github-actions[bot]@users.noreply.github.com>'
          branch: 'nix/update-flake-inputs'
          title: 'nix: update flake inputs'
          reviewers: adamperkowski
          assignees: adamperkowski
  actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: update actions
        uses: saadmk11/github-actions-version-updater@v0.9.0
        with:
          token: ''
          skip_pull_request: true
      - name: create pull request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: 'ci: update github actions'
          committer: 'github-actions[bot] <github-actions[bot]@users.noreply.github.com>'
          author: 'github-actions[bot] <github-actions[bot]@users.noreply.github.com>'
          branch: 'ci/update-github-actions'
          title: 'ci: update github actions'
          reviewers: adamperkowski
          assignees: adamperkowski
  rust:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: install rust
        uses: dtolnay/rust-toolchain@stable
      - name: install cargo-edit
        run: cargo install cargo-edit
      - name: update dependencies
        run: |
          cargo upgrade --package nots-cli
          cargo update
      - name: create pull request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: 'chore: update rust dependencies'
          committer: 'github-actions[bot] <github-actions[bot]@users.noreply.github.com>'
          author: 'github-actions[bot] <github-actions[bot]@users.noreply.github.com>'
          branch: 'chore/update-rust-dependencies'
          title: 'chore: update rust dependencies'
          reviewers: adamperkowski
          assignees: adamperkowski
